@font-face {
    font-family: 'Barbie_MediumItalic.ttf';
    src: url(Barbie_MediumItalic.ttf);
}

@font-face {
    font-family: 'Courier.ttf';
    src: url(Courier.ttf);
}
* {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

.body {
    height: 280vh;
    background: linear-gradient(
        to bottom,
         rgb(255, 0, 43) 0%, 
         rgb(255, 0, 43) 50%, 
         green 50%, 
         green 100%);
}

h1 {
    font-family: 'Barbie_MediumItalic.ttf';
    font-size: 100px;
}

h2 {
    font-family: 'Courier.ttf';
    font-size: 23px;
}

#DV1 {
    border-style:double;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: 5%;
    left: 1%;
}

#DV2 {
    border-style:double;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: -20%;
    right: 5%;
}

#DV3 {
    border-style:double;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: -80%;
    right: 64%;
}

#DV4 {
    border-style:double;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: -130%;
    right: 6%;
}

#DV5 {
    border-style:double;
    border-radius: 10px;
    border-width: 5px;
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: -170%;
    left: 3%;
}